
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 /* <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
    display: flex;
}
/* dark01 */
.dark01 {
    color: #131313;
}
/* dark02 color */
.dark02 {
    color: #424242;
}
/* dark03 */
.dark03 {
    color: #727272;
}
.bg-light {
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #FF900E;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-size: semi-bold;
    cursor: pointer;
}
main {
         
    max-width: 1440px;
    margin: 0 auto;
}
.feature-description{
    font-size: 1.2rem;
    margin-bottom: 20px;
}


/* Navigation Bar Styles */



.brand{
    font-size: 3rem;
    font-weight: 700;
    align-items: center;
    
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    gap: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}



/* Banner Container Styles */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 29px;
}
.banner-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    max-width: 850px;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
   
}

 .banner-image{
    width: 100%;
   
}

/* main styles */
.teams{
    
    flex-direction: row;
    align-items: center;
    gap: 70px;
    margin-top: 20px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.our-feature{
    max-width: 537px;
    max-height: 304px;
}

.feature-title{
    font-size: 3rem;
    
}
.Quicks{
    color: #424242;
     
}
.of{
    color: #131313;
}
.feature{
    color: #FF900E;
}   

/* Feature Section Styles */
.feature-section{
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
    /* align-items: center; */
    max-height: 1059px;
    background-color: slateblue;
}
.feature-list{
    flex-direction: column;
    max-width: 585px;
    max-height: 100%;
    gap: 10px;
}
.feature-head-container{
    gap: 20px;
}
.feature-head{
   max-width: 484px;
   max-height: 109px;
}
.feature-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    padding: 20px;
    box-shadow: #d2cece 0px 10px 15px, #424242 0px 10px 15px;
    max-width: 537px;
    max-height: 150px;
    
}
.feature-item-title{
    font-size: 1.5rem;
    font-weight: 500;
}
.architect-img{
    margin-top: 50px;
    max-width: 780px;
    max-height: 900px;
}
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF900E;
    color: #fff;
    border-radius: 5px;
    /* padding: 20px; */
    position: absolute;
    z-index: 20;
    margin-top: -90px;
    margin-left: -50px;
    width: 250px;
    max-height: 100%;
}

/* responsive styles */
@media (max-width: 576px) {
    .bg-light {
    width: 100%;
}
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: row;
        gap: 10px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-content {
        max-width: 100%;
        padding: 0 20px;
    }
/* Team Section Styles */
    .teams {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
    }

    .team-img-container {
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .feature-description{
        font-size: .9rem;
            margin-bottom: 20px;
    }
     .feature-title{
        font-size: 1.9rem;
    }
}

/* medium screen styles */
@media (min-width: 576px) and (max-width: 1024px)
    {
        .brand{
            font-size: 2.5rem;
        }
        
        .banner-content {
            padding: 0 20px;
        }
        .teams {
        margin-top: 100px;
        flex-direction: column;
        gap: 40px;
    }

    .team-img-container {
        grid-template-columns: repeat(2,1fr);
    }
    .our-feature{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .feature-description{
        font-size: .9rem;
        margin-bottom: 20px;
    }
     .feature-title{
        font-size: 1.25rem;
    }
    }

